{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Amber search system</title>

        <link rel="icon" type="image/png" href="{% get_static_prefix %}favic.png" />
        <link rel="stylesheet" href="{% get_static_prefix %}styles.css">
    </head>
    <body>
        <header></header>
        <form>
            <input name="q"{% if search_string %} value="{{ search_string }}"{% endif %}>
            <button>Поиск</button>
        </form>
        {% if search_time or performance %}
            <div class="message">
                {% if search_time %}
                    <p>Timing: {{ search_time }}</p>
                {% endif %}

                {% if performance %}
                    <p>{{ performance }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if search_string %}
            {% if search_result %}
            <ol>
                {% for entry in search_result %}
                    <li>
                        <p class="{% if entry.is_file %}file{% else %}dir{% endif %}">{{ entry.name }} ({{ entry.size }})</p>
                        <ul>
                            {% for path in entry.paths %}
                                <li class="{% if path.0 %}active{% else %}inactive{% endif %}"><a href="smb://{{ path.1|urlencode }}">//{{ path.2 }}</a></li>
                            {% endfor %}                            
                        </ul>
                    </li>
                {% endfor %}
            </ol>
            {% else %}
                <p>No data.</p>
            {% endif %}
        {% endif %}
    </body>
</html>
{% endspaceless %}
