body {
    background-color: white;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    font-size: 15pt;
}

body>header {
    background: url(/static/logo.png) center no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;
}

body>form {
    text-align: center;
}
body>form>input {
    font-size: 120%;
    width: 80%;
}
body>form>button {
    font-size: 120%;
}

.message {
    text-align: center;
    font-size: 80%;
}
