body {
	background-color: white;
	font-family: "Helvetica", sans-serif;
}

#header {
	padding: 0 0;
	margin: 5px;
}

#menublock {
	float: left;
	width: 250px;
	border-style: dotted;
	border-width: 1px;
	border-color: #b0b0b0;
	margin: 10px;
	padding: 10px;
	font-size: 13pt;
	font-style: normal;
	line-height: 1.5;
}

#itemblock {
	margin: 10px;
	margin-left: 300px;
}

#searchbar {
	background-color: #f0f0f0;
	padding: 30px;
	margin-bottom: 30px;
	width: 730px;
}

#footer {
	clear: left;
	margin: 15px;
	padding: 10px;
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	font-size: 8pt;
}
