{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="ru-ru">
        <title>Amber search system</title>
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles.css">
    </head>
    <body>
        <header id="header_img"><img src="{% get_static_prefix %}logo.png"></div>
        <form action="/" method="get">
            <input type="text" name="q"{% if search_string %} value="{{ search_string }}"{% endif %}>
            <button>Поиск</button>
        </form>
        <div id="messages">Timing: {{ search_time }}</div>
        <div>{{ performance }}</div>
        {% if search_string %}
        {% if search_output %}
        <ol>
            {% for item in search_output %}
                <li><b>{{ item.name }}:</b> {{ item }} </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>I DUNNO LOL</p>
        {% endif %}
        {% endif %}
    </body>
</html>
{% endspaceless %}
